# Django-specific
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/
*.bak

# PyCharm IDE
.idea/
*.iws
*.iml
*.ipr

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db

# Python
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Test coverage and environments
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints

# mypy
.mypy_cache/

# VS Code (for cross-team)
.vscode/
.history

# Sublime Text
*.sublime-workspace
*.sublime-project